@use "../abstracts" as abs;

/* ==== MOBILE-FIRST ==== */
.page-home {
  background: abs.$black;
}

.page-home .logo {
  display: flex;
  font-size: 1.5rem;
  justify-content: center;
  padding-top: 1.13rem;
}

.page-home nav {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  padding-top: 1rem;
}

.page-home nav a {
  display: inline-flex;
}

.header-picture {
  display: flex;
  justify-content: center;
  padding: 1rem 0 1rem 0;
  position: relative;  
  z-index: 2;          
}

.header-picture::before {
  content: "";
  position: absolute;
  top: -10rem;
  left: 50%;
  transform: translateX(-50%);
  width: 47%;             
  height: 130%;
  background: linear-gradient(
    to right,
    rgba(58, 56, 56, 0.224) 100%,   
    rgba(67, 65, 65, 0.4) 30%,  
    rgba(78, 76, 76, 0) 50%   
  );
  border-radius: 0.25rem; 
  z-index: -1;            
}

.header-picture img {
  padding-top: 2rem;
  display: block;
}

.header-text {
  justify-content: center;
  text-align: center;
  max-width: 40rem;
  padding: 1rem 1rem 2rem 1rem;
}

.header-text h1 {
  padding-bottom: 1.5rem;
  font-size: 2.5rem;
  font-weight: 500;
}

.header-text p {
  font-size: 1rem;
  font-weight: 400;
  padding-bottom: 2rem;
  color: abs.$text-color;
  line-height: 1.5;
}

.header-text .btn-contact {
  font-size: 1rem;
  line-height: 2.5;
}

.header-container {
  position: relative; 
}

.header-orbits{
  position: absolute;
  top: 3rem;
  left: -21rem;
  width: 34rem;
  height: 4rem;          
  overflow: visible;       
  pointer-events: none;
  z-index: 0;
  opacity: .45;
}

.header-orbits span{
  position: absolute;
  inset: 0;               
  border-radius: 50%;
  border: 2px solid abs.$grey;
  opacity: .55;
  transform-origin: 100% 50%; 
}

.header-orbits span:nth-child(1){ 
  transform: translateY(0rem)    scaleX(1);    
}

.header-orbits span:nth-child(2){ 
  transform: translateY(.65rem)  scaleX(1); 
}

.header-orbits span:nth-child(3){ 
  transform: translateY(1.30rem) scaleX(1); 
}

.header-orbits span:nth-child(4){ 
  transform: translateY(1.95rem) scaleX(1); 
}

.header-orbits span:nth-child(5){ 
  transform: translateY(2.60rem) scaleX(1); 
}

.header-circle {
  position: absolute;
  right: -4rem;      
  top: 10rem;         
  width: 8rem;      
  height: 8rem;
  border-radius: 50%;
  border: 1px solid abs.$white;   
  pointer-events: none;
  z-index: 1;  
}      

.header-container .highlight-name {
  display: inline-block;
  border-bottom: 0.15rem solid abs.$green;
  font-weight: 500;
}

/* ==== Versión IPAD ==== */

@media (min-width: 48rem) {
  .site-header {
    display: grid;
    position: relative;
    grid-template-columns: 1fr auto;
    grid-template-areas:
    "logo icons"
    "hero hero";
    align-items: start;
    column-gap: 2rem;
    padding: 2.5rem 0.5rem;
  }

  .site-header > .logo {
    display: flex;
    grid-area: logo;
    justify-content: flex-start;
    padding-left: 1.6rem;
    padding-top: 0;
    font-size: 2rem;
  }

  .site-header > .header-icons {
    display:flex;
    grid-area: icons;
    gap:2rem;
    justify-content: flex-end;
    padding-top: 0; 
    padding-right: 1rem;
  }

  .site-header > .header-container {
    position: relative;
    grid-area: hero;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas: "text img";
    align-items: center;
    width: 100%;
    padding-top: 2rem;
    overflow: visible;
  }

  .header-picture {
    display: flex;
    position: relative;
    grid-area: img;
    justify-content: end;
    justify-self: end;
    padding-top: -2rem;
    margin-right: -1rem;          
    height: auto;
    width: auto;
  }

  .header-picture::before {
  content: "";
  position: absolute;
  top: -11rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;             
  height: 130%;
  background: linear-gradient(
    to right,
    rgba(58, 56, 56, 0.224) 100%,  
    rgba(67, 65, 65, 0.4) 30%,  
    rgba(78, 76, 76, 0) 50%   
  );
  border-radius: 0.25rem; 
  z-index: -1;            
  }

  .header-picture img {
    padding-top: 0;      
    max-width: 100%;
    height: 30rem;
    display: block;
  }

  .header-text {
    grid-area: text;
    position: relative;
    text-align: left;
    justify-content: flex-start;
    max-width: 30rem;
    margin-left: 1rem;
    margin-right: -5rem;
    margin-top: -4rem;
    z-index: 3;
  }

  .hero-tittle > span{
    font-size: 4rem;
    font-weight: 700;
    max-width: 30rem;
  }

  .hero-line1,.hero-line2,.hero-line3 {
    display: block;
  }

  .header-text h1 {
    padding-top: 5rem;
  }

  .header-text p {
    font-size: 1.05rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: -1.5rem;
    line-height: 1.7;
    max-width: 25.5rem;
  }

  .highlight-name {
    display: inline-block;
    position: relative;
    border-bottom: 0.9rem solid abs.$green;
  }

  .btn-contact{
    padding-top: 1rem;
  }

  .header-orbits{
    position: absolute;
    top: 1rem;
    left: -21rem;
    width: 36.5rem;
    height: 4rem;          
    overflow: visible;       
    pointer-events: none;
    z-index: 0;
    opacity: .45;
  }

  .header-orbits span{
    position: absolute;
    inset: 0;              
    border-radius: 50%;
    border: 2px solid abs.$grey;
    opacity: .55;
    transform-origin: 100% 50%;
  }
  
  .header-orbits span:nth-child(1){ transform: translateY(0rem)  scaleX(1); }
  .header-orbits span:nth-child(2){ transform: translateY(.65rem)  scaleX(.94); }
  .header-orbits span:nth-child(3){ transform: translateY(1.30rem) scaleX(.88); }
  .header-orbits span:nth-child(4){ transform: translateY(1.95rem) scaleX(.82); }
  .header-orbits span:nth-child(5){ transform: translateY(2.60rem) scaleX(.76);}
  
  .header-circle {
    position: absolute;
    right: -4rem;      
    top: 25.5rem;         
    width: 8rem;      
    height: 8rem;
    border-radius: 50%;
    border: 1px solid abs.$white;   
    pointer-events: none;
    z-index: 5;        
  }
}

/* ==== Versión DESKTOP ==== */

@media (min-width: 90rem) {
  .page-home {
    padding: 1.5rem 10rem;
  }

  .site-header {
    display: grid;
    position: relative;
    grid-template-columns: 1fr auto;
    grid-template-areas:
      "logo icons"
      "hero hero";
    align-items: center;
    padding-bottom: 4rem;
  }

  .logo {
    grid-area: logo;
    display: flex;
    font-size: 2rem;
    margin-left: 1rem;
  }

  .header-icons {
    grid-area: icons;             
    display: flex;
    justify-content: flex-end;
    gap: 1.5rem;
    padding-right: 1.5rem;
    z-index: 2;
  }

  .header-icons a:nth-child(4){
    padding-right: 2rem;
  }

  .header-container {
    grid-area: hero;
    position: relative;
    display: grid;
    grid-template-columns: minmax(0, 44.125rem) 1fr;
    grid-template-areas: "text img";
    align-items: start;
    width: 100%;
    overflow: visible;
  }

  .header-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    grid-area: text;
    position:relative;
    gap: 2.5rem;
    z-index: 10;
    max-width: 46rem;
    margin-left: 1rem;
    margin-top: -8rem;
  }

  .header-text h1 {
    position: relative;
    font-size: 4.8rem;
    margin: 0;
    margin-right: -6rem;
    max-width: 44.125rem;
    z-index:20;
  }

  .hero-tittle > span{
    font-size:inherit;  
  }

  .hero-tittle .highlight-name {
    border-bottom-width: .4rem;
  }

  .header-text h1 span {
    display: inline;
  }

  .header-picture {
    grid-area: img;
    display: flex;
    position: relative;
    justify-self: end;
    z-index: 1;
    margin-right: .8rem;
    padding-top: 3rem;
  }

  .header-picture::before {
    content: "";
    position: absolute;
    top: -20rem;
    left: 14rem;
    bottom: 0;
    background-color: abs.$dark;
    z-index: -1;
  }

  .header-picture img {
    width: 28rem;
    height: 38rem;
    object-fit: cover;
  }

  .highlight-name {
    display: inline-block;
    position: relative;
    border-bottom: 0.5rem solid abs.$green;
  }

  .btn-contact{
    margin-top: -3rem;
  }

  .btn-contact .highlight-name{
    border-bottom-width: 0.2rem;
    padding-bottom: .5rem;
    letter-spacing: .15rem;
  }

  .btn-contact .highlight-name:hover {
    color: abs.$green;
  }

  .header-text p{
    margin-top: -2rem;
    max-width: 26rem;
    font-size: 1.05rem;
    font-weight: 500;
    line-height: 2;
  }

 .header-orbits{
    position: absolute;
    top: 3rem;
    left: -21rem;
    width: 39rem;
    height: 6rem;          
    overflow: visible;       
    pointer-events: none;
    z-index: 0;
    opacity: .45;
  }

  .header-orbits span{
    position: absolute;
    inset: 0;              
    border-radius: 100%;
    border: 2px solid abs.$grey;
    opacity: .55;
    transform-origin: 100% 50%;
  }
  
  .header-orbits span:nth-child(5){ transform: translateY(0rem)  scaleX(1); }
  .header-orbits span:nth-child(4){ transform: translateY(.8rem)  scaleX(1); }
  .header-orbits span:nth-child(3){ transform: translateY(1.6rem) scaleX(1); }
  .header-orbits span:nth-child(2){ transform: translateY(2.4rem) scaleX(1); }
  .header-orbits span:nth-child(1){ transform: translateY(3.2rem) scaleX(1);}
  
  .header-circle {
    position: absolute;
    right: 24.5rem;      
    top: 28rem;         
    width: 9rem;      
    height: 9rem;
    border-radius: 50%;
    border: 2px solid abs.$white;   
    pointer-events: none;
    z-index: 5;        
  }
}